/*
1. <body>
2. <header>
3. <aside>
4. <main>
*/

/* ---------------------------------------------------------------------- */
/* !!! 1. <body> !!! */

body {
	margin: 0;
	display: grid;
	grid-template: 1fr 3fr / 1fr 6fr;
	grid-template-areas:
		"aside header"
		"aside main";
	font-family: Roboto;
}

svg {
	fill: currentColor;
}

/* ---------------------------------------------------------------------- */
/* !!! 2. <header> !!! */

header {
	grid-area: header;
	background-color: #ccc;
	display: grid;
	grid-template: 1fr 1fr / 5fr 1fr 1fr 1fr;
	grid-template-areas:
		"headerSearchBar headerNotificationBell headerHeadingHgroup headerHeadingHgroup"
		"headerHiThere headerNew headerUpload headerShare";
}

#headerSearchBar {
	grid-area: headerSearchBar;
	display: flex;
	gap: 1em;
	justify-content: center;
	align-items: center;
}

	#headerSearchBar input {
		width: 80%;
		height: 60%;
		border: none;
		border-radius: 1em;
		font-size: 1.2em;
	}

	#headerSearchBar input::placeholder {
		padding-left: 1em;
	}

	#headerSearchBar label button {
		cursor: pointer;
		border-radius: 0.5em;
	}

	#headerSearchBar label button svg {
		width: 2em;
	}

#headerNotificationBell {
	grid-area: headerNotificationBell;
	margin: auto;
}

	#headerNotificationBell svg {
		width: 2em;
		margin: auto;
	}

#headerHeadingHgroup {
	grid-area: headerHeadingHgroup;
	display: flex;
	gap: 1em;
	align-items: center;
}

	#headerHeadingHgroup svg {
		width: 3em;
	}

#headerHiThere {
	grid-area: headerHiThere;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 4em;
}

#headerHiThere span {
	display: flex;
	gap: 0.5em;
	align-items: center;
}

	#headerHiThere span svg {
		width: 2em;
	}

#headerNew {
	grid-area: headerNew;
}

#headerUpload {
	grid-area: headerUpload;
}

#headerShare {
	grid-area: headerShare;
}

#headerNew, #headerUpload, #headerShare {
	display: flex;
	justify-content: center;
	align-items: center;
}

	#headerNew button, #headerUpload button, #headerShare button {
		width: 80%;
		height: 3em;
		border: none;
		border-radius: 2em;
		background-color: #0080ff;
		color: white;
		font-size: 1em;
		font-weight: bold;
}

/* ---------------------------------------------------------------------- */
/* !!! 3. <aside> !!! */

aside {
	grid-area: aside;
	background-color: #0080ff;
	color: white;
}

aside hgroup {
	display: flex;
	gap: 0.5em;
	align-items: center;
	padding: 0 0.85em;
}

aside hgroup svg {
	width: 2em;
}

aside ul {
	list-style-type: none;
	padding: 0 1em 1em 1em;
}

aside li {
	margin: 1em auto;
}

aside a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	display: flex;
	align-items: center;
}

aside a svg {
	width: 1em;
	padding-right: 1em;
}

/* ---------------------------------------------------------------------- */
/* !!! 4. <main> !!! */

main {
	grid-area: main;
}


			header, aside, main, #headerSearchBar, #headerNotificationBell, #headerHeadingHgroup, #headerHiThere, #headerNew, #headerUpload, #headerShare {
				border: 1px solid black;
			}